<footer>

<div class="footer-content sticky-bottom">
    <div class="social_media p-2 mb-2">
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
   </div>
   <div class="f-info-brand p-1 mb-2">
       &copy; Vistara Private Limited
    </div>
    <div class="f-info-privacy p-1.5 mb-1.5">
        Privacy Term
    </div>
</div>
</footer>